<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
    <h1>Bienvenido al Sistema de Gestión de Transmilenio</h1>
    <nav>
        <ul>
            <li><a href="/usuarios">Gestionar Usuarios</a></li>
            <li><a href="/routes">Gestionar Rutas</a></li>
            <li><a href="/estaciones">Gestionar Estaciones</a></li>
        </ul>
    </nav>
</body>
</html>
