<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Rutas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
    <h1>Rutas Disponibles</h1>
    <a href="/routes">Crear Nueva Ruta</a>

    <table border="1">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Tipo de Ruta</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="ruta : ${routes}">
                <tr>
                    <td th:text="${ruta.codigo}"></td>
                    <td th:text="${ruta.nombre}"></td>
                    <td th:text="${ruta.tipoRuta}"></td>
                    <td>
                        <a th:href="@{/routes/edit/{id}(id=${ruta.id})}">Editar</a>
                        <form th:action="@{/routes/delete/{id}(id=${ruta.id})}" method="post" style="display:inline;">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>
