<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
    <h1>Usuarios Disponibles</h1>
    <a href="/usuarios">Crear Nuevo Usuario</a>

    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo de Usuario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="usuario : ${usuarios}">
                <tr>
                    <td th:text="${usuario.nombre}"></td>
                    <td th:text="${usuario.tipoUsuario}"></td>
                    <td>
                        <a th:href="@{/usuarios/{id}(id=${usuario.id})}">Detalles</a>
                        <form th:action="@{/usuarios/{id}/delete(id=${usuario.id})}" method="post" style="display:inline;">
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>
